{% extends 'base.html.twig' %}

{% block title %} Dates {% endblock %}

{% block current_css %}
    <link rel="stylesheet" href="{{ asset('asset/style/dates.css') }}">
{% endblock %}



{% block body %}
<div class="bodydiv">
<header>
                    <nav id="navbar">
                    <a href="{{ path('app_homepage') }}" class="logo"
                        aria-label="visit homepage"
                        aria-current="page"><img src="{{ asset('../assets/img/fly_PNG3950.png')}}" alt="Bzzz icon">
                        <span> Flies everywhere </span>
                    </a>
                            <div class="nav-links">
                                    <button class="hamburger" type="button"
                                        aria-label="Toggle navigation"
                                        aria-expanded="false">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                            </div>
                            <div class="navlinks-container">
                                    <a href="#" aria-current="page"Home</a>
                                    <a href="{{ path('app_merch') }}">Merch</a>
                                    <a href="{{ path('app_dates') }}">Dates</a>
                                    <a href="{{ path('app_contact') }}">Contact</a>
                                    <a href="{{ path('app_this1312') }}">1312</a>
                            </div>
                            <div>
                                <a href="#" class="user_toggler"
                                aria-label="Sign in page">
                                <img src="./assets/img/fly_PNG3950.png" alt="user_icon">
                                </a>

<div>
                                <a href="#" class="user_toggler"
                                aria-label="Sign in page">
                                <img src="./assets/img/fly_PNG3950.png" alt="user_icon">
                                </a>


                                <div class="signs-btns">
                                <a href="{{ path('app_register') }}">
                                
                                    <button type="button">Sign In</button>
                                </a>
                                <a href="{{ path('app_security') }}">
                                    <button type="button">Sign Up</button>
                                </a>
                                </div>
                            </div>
                </nav>
</header>

<main>
<div id="h1Date">
    <h1>Dates</h1>
</div>
    <h2></h2>
    <div id="trippyForm1"></div>
    <div id="trippyForm2"></div>
    <div id="trippyForm3"></div>
    <div class="container_list" id="inputList">
        <div class="ticket">
            <input id="inputFieldList01" type="text">
            <span class="ticketNumber">0</span>
            <button class="btn_increase">&#8657;</button>
            <button class="btn_decrease">&#8659;</button>
        </div>
        <h2></h2> 
    <div id="trippyForm4"></div>
    <div id="trippyForm5"></div>
    <div id="trippyForm6"></div>
        <div class="ticket">
            <input id="inputFieldList02" type="text">
            <span class="ticketNumber">0</span>
            <button class="btn_increase">&#8657;</button>
            <button class="btn_decrease">&#8659;</button>
        </div>
        <h2></h2>
    <div id="trippyForm7"></div>
    <div id="trippyForm8"></div>
    <div id="trippyForm9"></div>
        <div class="ticket">
            <input id="inputFieldList03" type="text">
            <span class="ticketNumber">0</span>
            <button class="btn_increase">&#8657;</button>
            <button class="btn_decrease">&#8659;</button>
        </div>
        <h2></h2> 
    <div id="trippyForm10"></div>
    <div id="trippyForm11"></div>
    <div id="trippyForm12"></div>
        <div class="ticket">
            <input id="inputFieldList04" type="text">
            <span class="ticketNumber">0</span>
            <button class="btn_increase">&#8657;</button>
            <button class="btn_decrease">&#8659;</button>
        </div>
        <h2></h2> 
    <div id="trippyForm13"></div>
    <div id="trippyForm14"></div>
    <div id="trippyForm15"></div>
        <div class="ticket">
            <input id="inputFieldList05" type="text">
            <span class="ticketNumber">0</span>
            <button class="btn_increase">&#8657;</button>
            <button class="btn_decrease">&#8659;</button>
        </div>
       <h2></h2> 
    <div id="trippyForm16"></div>
    <div id="trippyForm17"></div>
    <div id="trippyForm18"></div>
        <div class="ticket">
            <input id="inputFieldList06" type="text">
            <span class="ticketNumber">0</span>
            <button class="btn_increase">&#8657;</button>
            <button class="btn_decrease">&#8659;</button>
        </div>
        <h2></h2> 
    <div id="trippyForm19"></div>
    <div id="trippyForm20"></div>
    <div id="trippyForm21"></div>
        <div class="ticket">
            <input id="inputFieldList07" type="text">
            <span class="ticketNumber">0</span>
            <button class="btn_increase">&#8657;</button>
            <button class="btn_decrease">&#8659;</button>
        </div>
        <h2></h2> 
    <div id="trippyForm22"></div>
    <div id="trippyForm23"></div>
    <div id="trippyForm24"></div>
        <div class="ticket">
            <input id="inputFieldList08" type="text">
            <span class="ticketNumber">0</span>
            <button class="btn_increase">&#8657;</button>
            <button class="btn_decrease">&#8659;</button>
        </div>
        <h2></h2>
    <div id="trippyForm25"></div>
    <div id="trippyForm26"></div>
    <div id="trippyForm27"></div>
        <div class="ticket">
            <input id="inputFieldList09" type="text">
            <span class="ticketNumber">0</span>
            <button class="btn_increase">&#8657;</button>
            <button class="btn_decrease">&#8659;</button>
        </div>
        <h2></h2>
    <div id="trippyForm28"></div>
    <div id="trippyForm29"></div>
    <div id="trippyForm30"></div>
        <div class="ticket">
            <input id="inputFieldList10" type="text">
            <span class="ticketNumber">0</span>
            <button class="btn_increase">&#8657;</button>
            <button class="btn_decrease">&#8659;</button>
        </div>
        <h2></h2>
    <div id="trippyForm31"></div>
    <div id="trippyForm32"></div>
    <div id="trippyForm33"></div>
        <div class="ticket">
            <input id="inputFieldList11" type="text">
            <span class="ticketNumber">0</span>
            <button class="btn_increase">&#8657;</button>
            <button class="btn_decrease">&#8659;</button>
        </div>
        <h2></h2>
    <div id="trippyForm34"></div>
    <div id="trippyForm35"></div>
    <div id="trippyForm36"></div>
        <div class="ticket">
            <input id="inputFieldList12" type="text">
            <span class="ticketNumber">0</span>
            <button class="btn_increase">&#8657;</button>
            <button class="btn_decrease">&#8659;</button>
        </div>
        <h2></h2>
    <div id="trippyForm37"></div>
    <div id="trippyForm38"></div>
    <div id="trippyForm39"></div>
        <div class="ticket">
            <input id="inputFieldList13" type="text">
            <span class="ticketNumber">0</span>
            <button class="btn_increase">&#8657;</button>
            <button class="btn_decrease">&#8659;</button>
        </div>
        <h2></h2>
  


    </div>
</main>
</div>
{% endblock %}

{% block current_javascript %}
{{ encore_entry_script_tags('list') }}
{{ encore_entry_script_tags('addTicket') }}
{% endblock %}
