{% extends 'base.html.twig' %}

{% block title %}Hello MerchController!{% endblock %}

{% block current_css %}
    {# <link rel="stylesheet" href="{{ asset('asset/style/merch.css') }}"> #}
          {{ encore_entry_link_tags('merch') }}
{% endblock %}

{% block body %}

<main>
{{ form_start(form) }}

{{ form_end(form) }}

<form method="POST" action="{{ path('home_deleteProduct', {'id': id}) }}"
    onsubmit="return confirm('Êtes-vous sùr de vouloir supprimer cet article intitulé: ')">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
    <button class="btnDelete"> Supprimer </button>
</form>

</main>
{% endblock %}
