{% extends 'base.html.twig' %}

{% block title %}Hello MerchController!{% endblock %}

{% block current_css %}
    <link rel="stylesheet" href="{{ asset('public/build/merchRead.css') }}">
{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
<div class="alert-success">
    {{ message }}
</div>
{% endfor %}



<div class="productRead">
    <div class="shadowRead">

        <div class="merchRead">
            <div class="productImg"><img id="productimg" src="{{ vich_uploader_asset(product,'imageFile') }}"></div>
            <p id="productNameRead">{{ product.name }}</p>
            <p id="productPriceRead">{{ product.price }}</p>
<select class="selectSize">
    <option>XS</option>
    <option>S</option>
    <option>M</option>
    <option>L</option>
    <option>XL</option>
    <option>XXL</option>
</select>

<a id="productName" href="{{path ('app_payment') }}">Acheter</a>
<p>Mettre dans le panier</p>

        </div>
    </div>
        
</div>


{% endblock %}
