{% extends 'base.html.twig' %}

{% block title %}Hello MerchController!{% endblock %}

{% block current_css %}
    <link rel="stylesheet" href="{{ asset('public/build/merch.css') }}">
{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
<div class="alert-success">
    {{ message }}
</div>
{% endfor %}



<div class="product">
    <div class="shadow">

        <div class="merch">
            <p>{{ product.name }}</p>
            <p>{{ product.price }}</p>
            <div class="productImg"><img id="productimg" src="{{ vich_uploader_asset(product,'imageFile') }}"></div>
            {# <p>{{ product.inventory_id }}</p> #}
            {# <p>{{ product.size }}</p> #}

            
            
        </div>
    </div>
        
</div>


{% endblock %}
