{% extends 'base.html.twig' %}

{% block title %}Hello MerchController!{% endblock %}

{% block current_css %}
    {# <link rel="stylesheet" href="{{ asset('asset/style/merch.css') }}"> #}
          {{ encore_entry_link_tags('merch') }}
{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
<div class="alert-success">
    {{ message }}
</div>
{% endfor %}

<main


{% for product in products %}
    <div class="merch">
        <a href="{{path ('home_editProduct', {id: product.id}) }}">{{ product.name }}</a>
        <p>{{ product.name }}</p>
    </div>
    
{% endfor %}
</main>
{% endblock %}
