{% extends 'base.html.twig' %}
{% block current_css %}
    {# <link rel="stylesheet" href="{{ asset('asset/style/merch.css') }}"> #}
          {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block title %}
Se connecter|
{{ parent() }}
{% endblock %}

{% block body %}
		<div class="container">
			<form action="{{ path('app_security')}}" method="post" class="formLog">

				{% if error %}
					<div class="alert" role="alert">{{
                    error.messageKey|trans(error.messageData, 'security')
                }}
					</div>
				{% endif %}


				<h1 class="title">
					Se connecter
				</h1>

                
				<label for="username" class="form-label">
					Username
				</label>
				<input type="text" id="username" name="_username" value="{{ last_username }}"/>


				<label for="password" class="form-label">
					Mot de passe
				</label>
				<input type="password" id="password" name="_password" class="form-control">

                
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


				<div class="subLog">
					<button type="submit" class="btn">
						Se connecter</button>
				</div>
			</form>

{% endblock %}
