{% extends 'base.html.twig' %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


        {% block javascripts %}
			{{ encore_entry_script_tags('carrousel') }}
		{% endblock %}

{% block title %} Milao {% endblock %}

{% block body %}


<main>


    <ul id="container">
<button id="left-btn"><i class="arrow"></i></button>
        <li>
            <img class="carrouselImg" src="{{ asset('/img/n.jpg') }}" alt="Milao!"/>
        </li>

        <li>
            <img class="carrouselImg" src="{{ asset('/img/Forest.png') }}" alt="Animal!"/>
        </li>

        <li>
            <img class="carrouselImg" src="{{ asset('/img/hostel.png') }}" alt="pray"/>
        </li>
<button id="right-btn"><i class="arrow"></i></button>

</ul>


</main>

<footer>
</footer>

{% endblock %}



