{% extends 'base.html.twig' %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

{% block title %} Milao {% endblock %}

{% block body %}



<main>


    <section id="container">
        <button class="previous">Avant</button>

        <figure>
            {# <img src="./assets/img/n.jpg" alt=""> #}
            <img src="{{ asset('/public/img/n.jpg') }}" alt="Symfony!"/>
            <figcaption>Milao flies everywhere</figcaption>
        </figure>

        <figure>
            {# <img src="./assets/img/0068.pgn" alt=""> #}
            <img src="{{ asset('/assets/img/0068.png') }}" alt="Symfony!"/>
            <figcaption>Animal in forest</figcaption>
        </figure>

        <figure>
            {# <img src="./assets/img/0000.pgn" alt=""> #}
            <img src="{{ asset('/img/0000.png') }}" alt="Symfony!"/>
            <figcaption>The hostel</figcaption>
        </figure>

    {# <div class="caroussel">
        <ul>
            <li class="slide">
                <img src={{ asset('img/n.jpg') }}
                <img src="./assets/img/0068.png" alt="forest shid">
                <img src="./assets/img/0000.png" alt="3D hd">

            </li>
        </ul>
    </div> #}
    <button class="next">Après</button>
</section>

<script src="script.js"></script>  

</main>

<footer>
</footer>

{% endblock %}

{% block current_javascript %}
{{ encore_entry_script_tags('carrousel') }}
{% endblock %}

