

<footer>
    <div class="row">
            <div class="col">
            
                    <ul>
                            <li><a href="{{ path('app_merch') }}"><p class="Pfooter">Merch</p></a></li>
                            <li><a href="{{ path('app_dates') }}"><p class="Pfooter">Dates</p></a></li>

                    </ul>
            </div>


            <div class="col">
                    <ul>
                            
                            <li><a href="{{ path('app_contact') }}"><p class="Pfooter">Contact</p></a></li>
                            <li><a href="{{ path('app_help') }}"><p class="Pfooter">1312</p></a></li>
                            <li><a href="{{ path('app_help') }}"><p class="Pfooter"> Social</p></a></li>
                    </ul>
            </div>
            <div class="col">

            
            </div>
            <div class="col">

                    <ul>
                        <a href="{{ path('app_return') }}"><p class="Pfooter">Return</p></a>
                        <a href="{{ path('app_thermCondition') }}"><p class="Pfooter">Therms and conditions</p></a>
                        <a href="{{ path('app_privacyPolicy') }}"><p class="Pfooter">Privacy policies</p></a>
                    </ul>
            </div>

  
        </div>
</footer>

